@model TMFadmin.Models.RevenueManager
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4">Add Address</h1>
    <div class="container">

        <form>
        <div role="tablist" id="accordion-1">
            <div class="card">
                <div class="card-header accHead" role="tab">
                    <h5 style="color:white" class="mb-0">Address</h5>
                </div>
                <div class="item-1" role="tabpanel" data-parent="#accordion-1">
                    <div class="card-body">
                        <div class="form-group"><label id="lblFirstName" for="txtFirstName">First Name</label><input class="form-control" type="text" id="txtFirstName" name="firstName" maxlength="50"></div>
                        <div class="form-group"><label id="lblLastName" for="txtLastName">Last Name</label><input class="form-control" type="text" id="txtLastName" name="lastName" maxlength="50"></div>
                        
                        <div class="form-group"><label for="txtAddress">Street Address</label><input class="form-control" type="text" id="txtAddress" name="address" maxlength="50"></div>
                        <div class="form-group"><label id="lblCity" for="txtCity">City</label><input class="form-control" type="text" id="txtCity" name="city" maxlength="30"></div>
                        <div class="form-group"><label id="lblProvince" for="txtProvince">Province</label><input class="form-control" type="text" id="txtProvince" name="province" maxlength="30"></div>
                        <div class="form-group"></div><label id="lblPostal" for="txtPostal" name="postal">Postal Code</label><input class="form-control" type="text" id="txtPostal" name="postal">
                        <div class="form-group"><label id="lblCountry" for="txtCountry">Country</label><input class="form-control" type="text" id="txtCountry" name="country" maxlength="30"></div>
                        <div class="form-group"><label>Address Type</label>
                            <div class="form-check"><input class="form-check-input" type="radio" id="chkRes" name="addressType" value="residential"><label class="form-check-label" for="formCheck-1">Residential</label></div>
                            <div class="form-check"><input class="form-check-input" type="radio" id="chkBusi" name="addressType" value="business"><label class="form-check-label" for="formCheck-2">Business</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group"><button style="margin:15px" class="btn btn-primary btn-submit" type="button">Add Address</button></div>
    </form>
    </div>
</div>