@model TMFadmin.Models.RevenueManager
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4"><a onclick="history.go(-1)" style="cursor: pointer;" class="text-primary"><i class="fas fa-arrow-left" style="font-size: 34px; float: left;"></i></a>Add Advertisement</h1>
    <div class="container text-center">    
    <form enctype="multipart/form-data" style="width: 100%; display: flex; flex-flow: column nowrap; align-items: center;">
        <div role="tablist" id="adAccordion" class="accordion text-center" style="width: 550px; align-self: center;">
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button  class="btn btn-link" type="button" data-toggle="collapse" data-target="#adInfo" aria-expanded="true" aria-controls="adAccordion">
                            Advertisement Information
                        </button>
                    </h5>
                </div>
                <div id="adInfo" class="collapse show" role="tabpanel" data-parent="#adAccordion">
                    <div class="card-body">
                        <div class="form-group" style="text-align: left;">
                            <label for="mySponsorId"><i class="far fa-address-card" style="font-size: 22px;"></i>&nbsp;Select contact requesting the advertisement:</label>
                            <div class="form-group">
                                <select id="mySponsorId" name="mySponsorId" class="form-control" >
                                    <option value="1">This Advertiser</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <label id="lblSize"><i class="fas fa-crop-alt" style="font-size: 22px;"></i>&nbsp;Advertisement Size</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="formCheck-2" name="adSize" value="full" checked>
                                <label class="form-check-label" for="radSize1">Full Page</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="formCheck-1" name="adSize" value="half">
                                <label class="form-check-label" for="radSize2">Half Page</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="radSize3" name="adSize" value="quarter">
                                <label class="form-check-label" for="radSize3">Quarter Page</label>
                            </div>
                        </div>
                    
                        <div class="form-group" style="text-align: left;">
                            <label for="imgFile"><i class="fas fa-image" style="font-size: 22px;"></i>&nbsp;Image file for advertisement</label>
                            <div class="form-group">
                                <label class="btn btn-light" style="cursor: pointer;">
                                    Browse<input type="file" id="imgFile" name="imgFile" hidden>
                                </label>
                                <span id="message" class="text-primary">No File Selected</span>
                            </div>
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <label for="notes"><i class="far fa-clipboard" style="font-size: 22px;"></i>&nbsp;Notes</label>
                            <textarea class="form-control" id="notes" type="text" name="notes" maxlength="250" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tranInfo" aria-expanded="false" aria-controls="adAccordion">
                            Transaction
                        </button>
                    </h5>
                </div>
                <div id="tranInfo" class="collapse item-2" role="tabpanel" data-parent="#adAccordion">
                    <div class="card-body">
                        <div class="form-group" style="text-align: left;">
                            <label for="txtTotal"><i class="fas fa-dollar-sign" style="font-size: 22px;"></i>&nbsp;Total Cost</label>
                            <input class="form-control" type="number" step="0.01" id="txtTotal" name="cost" placeholder="0.00" maxlength="10">
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <label for="txtPaid"><i class="fas fa-money-check-alt" style="font-size: 22px;"></i>&nbsp;Amount Paid</label>
                            <input class="form-control" type="number" step="0.01" id="txtPaid" name="paid" placeholder="0.00" maxlength="10">
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <label for="txtDue"><i class="fas fa-file-invoice-dollar" style="font-size: 22px;"></i>&nbsp;Amount Due</label>
                            <input class="form-control" type="number" step="0.01" id="txtDue" name="due" placeholder="0.00" maxlength="10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="width: 580px;">
            <input style="margin:15px; float: right;"
                class="btn btn-primary btn-submit" 
                type="submit" value="Add Advertisement">
        </div>
    </form>
    </div>
</div>