@model TMFadmin.Models.Sponsor
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4"><a onclick="history.go(-1)" style="cursor: pointer;" class="text-primary"><i class="fas fa-arrow-left" style="font-size: 34px; float: left;"></i></a>Add Contact</h1>
    <div class="container text-center">
        <form style="width: 100%; display: flex; flex-flow: column nowrap; align-items: center;" method="post" asp-controller="Home" asp-action="AddSponsorSubmit">
            <div class="accordian text-center" role="tablist" id="accordion-1" style="width: 550px; align-self: center;">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#item-1" aria-expanded="true" aria-controls="accordion-1">
                                Contact Information
                            </button>
                        </h5>
                    </div>
                    <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1" id="item-1">
                        <div class="card-body">
                            <div class="form-group" style="text-align: left;">
                                <label id="lblCompany" for="txtCompany"><i class="fas fa-id-card" style="font-size: 22px;"></i>&nbsp;Name</label>
                                <input class="form-control" type="text" id="txtCompany" maxlength="200" asp-for="company" placeholder="Name of Company or Individual">
                                <span asp-validation-for="company" class="text-danger" />
                            </div>
                            <div class="form-row form-group">
                                <div class="col" style="text-align: left;">
                                    <label id="lblPhone" for="txtPhone"><i class="fas fa-phone" style="font-size: 22px;"></i>&nbsp;Phone</label>
                                    <input class="form-control" type="text" id="txtPhone" maxlength="14" asp-for="phone" placeholder="1-902-888-8888">
                                    <span asp-validation-for="phone" class="text-danger" />
                                </div>
                                <div class="col" style="text-align: left;">
                                    <label id="lblFax" for="txtFax"><i class="fas fa-fax" style="font-size: 22px;"></i>&nbsp;Fax</label>
                                    <input class="form-control" type="text" id="txtFax" maxlength="14" asp-for="fax" placeholder="1-902-999-9999">
                                    <span asp-validation-for="fax" class="text-danger" />
                                </div>
                            </div>
                            
                            <div class="form-group" style="text-align: left;">
                                <label id="lblEmail" for="txtEmail"><i class="fas fa-envelope" style="font-size: 22px;"></i>&nbsp;Email</label>
                                <input class="form-control" type="email" id="txtEmail" maxlength="70" asp-for="email" placeholder="useraccount@email.com">
                                <span asp-validation-for="email" class="text-danger" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#item-3" aria-expanded="true" aria-controls="accordion-1">
                                Additional Information
                            </button>
                    </div>
                    <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1" id="item-3">
                        <div class="card-body">
                            <div class="form-group" style="text-align: left;">
                                <label><i class="fas fa-chart-line" style="font-size: 22px;"></i>&nbsp;Activity Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="activity" id="active" value="active" asp-for="activity" checked>
                                    <label class="form-check-label" for="active">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="activity" id="inactive" value="inactive" asp-for="activity">
                                    <label class="form-check-label" for="inactive">
                                        Inactive
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <label id="lblNotes" for="txtNotes"><i class="far fa-clipboard" style="font-size: 22px;"></i>&nbsp;Notes</label>
                                <textarea class="form-control" id="txtNotes" name="notes" maxlength="250" asp-for="notes" rows="4"></textarea>
                                <span asp-validation-for="notes" class="text-danger" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="width: 580px;">
                <input style="margin:15px; float: right;"
                    class="btn btn-primary btn-submit" 
                    type="submit" value="Add Contact">
            </div>
        </form>
    </div>
</div>