@model TMFadmin.Models.Advertisement
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4">Delete Advertisement</h1>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-12">
            <div style="margin-bottom:10px">Are you sure you want to delete the following advertisement?</div>
            <p><b>
                @Model.date @Model.notes
            </b></p>
            <form method="post">
                <div class="form-group">
                    <input type="hidden" asp-for="adId">
                    <input type="hidden" asp-for="imgFile">
                    <input type="submit" asp-controller="Home" asp-action="DeleteAdvertisementSubmit" class="btn btn-danger" value="Delete" />
                    <input type="submit" asp-controller="Home" asp-action="ViewAdvertisements" class="btn btn-warning" value="Cancel" />
                </div>
            </form>
        </div>
</div>