@model TMFadmin.Models.Address
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4"><a onclick="history.go(-1)" style="cursor: pointer;" class="text-primary"><i class="fas fa-arrow-left" style="font-size: 34px; float: left;"></i></a>Edit Address</h1>
    <div class="container text-center">
        <form style="width: 100%; display: flex; flex-flow: column nowrap; align-items: center;" method="post" asp-controller="Home" asp-action="EditAddressSubmit">
            <div class="accordion text-center" role="tablist" id="addressAccordion" style="width: 550px; align-self: center;">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#sponInfo" aria-expanded="true" aria-controls="addressAccordion">
                                Sponsor Information
                            </button>
                        </h5>
                    </div>
                    <div id="sponInfo" role="tabpanel" class="collapse show" data-parent="#addressAccordion">
                        <div class="card-body">
                            <div class="form-group" style="text-align: left;">
                                <label for="mySponsorId"><i class="far fa-address-card" style="font-size: 22px;"></i>&nbsp;Select contact to add address to:</label>
                                <div class="form-group">
                                    <select id="lstSponsor" name="mySponsorId" asp-items="ViewBag.selectList" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#addInfo" aria-expanded="false" aria-controls="addressAccordion">
                                Address Information
                            </button>
                        </h5>
                    </div>
                    <div role="tabpanel" class="collapse" data-parent="#addressAccordion" id="addInfo">
                        <div class="card-body">
                            <div class="form-row form-group">
                                <div class="col" style="text-align: left;">
                                    <label id="lblFirstName" for="txtFirstName">First Name</label>
                                    <input class="form-control" type="text" id="txtFirstName" name="firstName" asp-for="firstname" placeholder="First Name" maxlength="50">
                                    <span asp-validation-for="firstname" class="text-danger" />
                                </div>
                                <div class="col" style="text-align: left;">
                                    <label id="lblLastName" for="txtLastName">Last Name</label>
                                    <input class="form-control" type="text" id="txtLastName" name="lastName" asp-for="lastname" placeholder="Last Name" maxlength="50">
                                    <span asp-validation-for="lastname" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <label for="txtAddress"><i class="fas fa-building" style="font-size: 22px;"></i>&nbsp;Street Address</label>
                                <input class="form-control" type="text" id="txtAddress" name="address" asp-for="address" placeholder="123 Main Street" maxlength="100">
                                <span asp-validation-for="address" class="text-danger" />
                            </div>
                            <div class="form-row form-group">
                                <div class="col" style="text-align: left;">
                                    <label id="lblCity" for="txtCity"><i class="fas fa-city" style="font-size: 22px;"></i>&nbsp;City</label>
                                    <input class="form-control" type="text" id="txtCity" name="city" asp-for="city" placeholder="City" maxlength="50">
                                    <span asp-validation-for="city" class="text-danger" />
                                </div>
                                <div class="col-md-3" style="text-align: left;">
                                    <label id="lblProvince" for="txtProvince"><i class="fas fa-map-marked-alt" style="font-size: 22px;"></i>&nbsp;Province</label>
                                    <select class="form-control" id="txtProvince" name="province" asp-for="province">
                                        <option value="AB">AB</option>
                                        <option value="BC">BC</option>
                                        <option value="M" >MB</option>
                                        <option value="NB">NB</option>
                                        <option value="NL">NL</option>
                                        <option value="NS" selected>NS</option>
                                        <option value="NT">NT</option>
                                        <option value="NU">NU</option>
                                        <option value="ON">ON</option>
                                        <option value="PE">PE</option>
                                        <option value="QC">QC</option>
                                        <option value="SK">SK</option>
                                        <option value="YT">YT</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-md-4" style="text-align: left;">
                                    <label id="lblPostal" for="txtPostal" name="postal"><i class="fas fa-mail-bulk" style="font-size: 22px;"></i>&nbsp;Postal Code</label>
                                    <input class="form-control" type="text" id="txtPostal" name="postal" asp-for="postal" maxlength="7" placeholder="A1A 1A1">
                                    <span asp-validation-for="postal" class="text-danger" />
                                </div>
                                <div class="col" style="text-align: left;">
                                    <label id="lblCountry" for="txtCountry"><i class="fas fa-globe-americas" style="font-size: 22px;"></i>&nbsp;Country</label>
                                    <input class="form-control" type="text" id="txtCountry" name="country" asp-for="country" maxlength="20" value="Canada">
                                    <span asp-validation-for="country" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <div><label><i class="fas fa-envelope" style="font-size: 22px;"></i>&nbsp;Address Type</label></div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="chkRes" name="type" value="mailing" checked="checked">
                                    <label class="form-check-label" for="formCheck-1">Residential</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="chkBusi" name="type" value="business">
                                    <label class="form-check-label" for="formCheck-2">Business</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="width: 580px;">
                <input type="hidden" asp-for="addressId">
                <input style="margin:15px; float: right;"
                    class="btn btn-primary btn-submit" 
                    type="submit" value="Save Edits">
            </div>
        </form>
    </div>
</div>