@model TMFadmin.Models.Award
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4"><a onclick="history.go(-1)" style="cursor: pointer;" class="text-primary"><i class="fas fa-arrow-left" style="font-size: 34px; float: left;"></i></a>Edit Award</h1>
    <div class="container text-center">
        <form style="width: 100%; display: flex; flex-flow: column nowrap; align-items: center;" method="post" asp-controller="Home" asp-action="EditAwardSubmit">
            <div role="tablist" id="awardAccordion" class="accordion text-center" style="width: 550px; align-self: center;">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#awardInfo" aria-expanded="true" aria-controls="awardAccordion">
                                Award Information
                            </button>
                        </h5>
                    </div>
                    <div class="collapse show" role="tabpanel" data-parent="#awardAccordion" id="awardInfo">
                        <div class="card-body">
                            <div class="form-row form-group">
                                <div class="col" style="text-align: left;">
                                    <label for="recipient"><i class="fas fa-award" style="font-size: 22px;"></i>&nbsp;Recipient</label>
                                    <input class="form-control" type="text" id="recipient" asp-for="recipient" name="recipient" maxlength="100" placeholder="Name of Award Recipient">
                                    <span asp-validation-for="recipient" class="text-danger" />
                                </div>
                                <div class="col-md-3" style="text-align: left;">
                                    <label for="year"><i class="far fa-calendar-alt" style="font-size: 22px;"></i>&nbsp;Year</label>
                                    <input class="form-control" type="text" id="year" asp-for="year" name="year" maxlength="4" value="2020">
                                    <span asp-validation-for="year" class="text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#fundInfo" aria-expanded="false" aria-controls="awardAccordion">
                                Fund Information
                            </button>
                        </h5>
                    </div>
                    <div class="collapse" role="tabpanel" data-parent="#awardAccordion" id="fundInfo">
                        <div class="card-body">
                            <div class="form-group" style="text-align: left;">
                                <label for="myFundId"><i class="fas fa-funnel-dollar" style="font-size: 22px;"></i>&nbsp;Fund</label>
                                <select class="form-control" id="myFundId" name="myFundId" asp-items="ViewBag.fundList"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="width: 580px;">
                <input type="hidden" asp-for="awardId">
                <input style="margin:15px; float: right;"
                    class="btn btn-primary btn-submit" 
                    type="submit" value="Save Edits">
            </div>
        </form>
    </div>
</div>