
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex justify-content-around" style="margin-top: 40px;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Add Sponsor</h5>
                <p class="card-text">Add a new sponsor to the database via a form.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Add Donation</h5>
                <p class="card-text">Add a new donation to the database via a form.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>  
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Add Advertisement</h5>
                <p class="card-text">Add a new advertisement to the database via a form.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>   
    </div>
    <div class="d-flex justify-content-around" style="margin-top: 40px;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Add Award</h5>
                <p class="card-text">Add a new award to the database via a form.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Add Fund</h5>
                <p class="card-text">Add a new fund to the database via a form.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Add Address</h5>
                <p class="card-text">Add a new address to the database via a form.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>
