@model TMFadmin.Models.Donation
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4"><a asp-controller="Home" asp-action="ViewDonations" class="text-primary"><i class="fas fa-arrow-left" style="font-size: 34px; float: left;"></i></a>View Donation</h1>
    <div class="alert alert-primary" role="alert" style="margin-top: 20px; margin-bottom: 20px;"><i class="fas fa-sticky-note" style="font-size: 26px; float: left;"></i>&nbsp;@Model.notes</div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingInfo">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                        Sponsor/Fund Information
                    </button>
                </h2>
            </div>

            <div id="collapseInfo" class="collapse show" aria-labelledby="headingInfo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="d-flex justify-content-around">
                        <span><i class="far fa-address-card" style="font-size: 26px;"></i>&nbsp;@ViewBag.sponsor</span>
                        
                        <span><i class="fas fa-funnel-dollar" style="font-size: 26px;"></i>&nbsp;@ViewBag.fund</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Donation Information
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="d-flex justify-content-around">
                        <span><i class="fas fa-dollar-sign" style="font-size: 26px;"></i>&nbsp;@Model.amount</span>
                        @if (Model.receipt == 1) {
                            <span><i class="fas fa-receipt" style="font-size: 26px;"></i>&nbsp;Charitable Recipt Sent</span>
                        } else {
                            <span><i class="fas fa-receipt" style="font-size: 26px;"></i>&nbsp;Charitable Recipt Not Sent</span>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" style="float: right; margin-top: 20px;">
        <label class="btn btn-primary" style="cursor: pointer;">Edit<input type="submit" value="@Model.donId" asp-controller="Home" asp-action="EditDonation" name="donId" hidden></label>
        <label class="btn btn-danger" style="cursor: pointer;">Delete<input type="submit" value="@Model.donId" asp-controller="Home" asp-action="DeleteDonation" name="myDonId" hidden></label>
    </form>
</div>