<form asp-controller="Login" asp-action="Submit" style="margin-top: 200px;">
    <div class="container text-center" style="width: 400px;">
        <div class="row mt-2">
            <div class="col">
                <h2>Login</h2>
                <small>Please enter your Username and Password...</small>
            </div>
        </div>

        <div class="row">
            <div class="col mt-2">
                <div class="form-group" style="text-align: left; padding: 7px;">
                    <label for="txtUserName">Username:</label>
                    <input type="text" name="myUsername" class="form-control" Maxlength="10" />
                </div>
                <div class="form-group" style="text-align: left; padding: 7px;">
                    <label for="txtPassword">Password:</label>
                    <input type="password" name="myPassword" class="form-control" maxlength="10" />
                </div>
                <div class="form-group" style="text-align: right;">
                    <input type="submit" text="Submit" class="btn btn-primary" />
                    <span class="text-warning" style="margin-left:5px;">@ViewData["feedback"]</span>
                </div>
            </div>
        </div>
    </div>
</form>